* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #eee;
    background-color: #1b1b1b;
}

.App-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}